<div class="container">
    <% if @author.first_name %>
        <h2>Welcome <%=@author.full_name %></h2> 
    <% else %>
        <h2>Welcome <%=@author.email %></h2>
    <%end%>


<div id="book-form">
</div>

<h3>Your Script Inventory</h3>

<select class="ui search dropdown">
  <option value="">Sort By</option>
  <option value="AZ">Books A-Z</option>
  <option value="ZA">Books Z-A</option>
  <option value="AZ">Book uplodaded in 3 months</option>
</select>

<br>

<div id="authors-books" data-id=<%=@author.id%>>

</div>

<div id="new-books">
</div>

</div>
<br>
<button id="add-book">Add A New Script</button>

<script type="text/javascript">






$(function() {

    getCurrentBooks()


})
    $('#add-book').click(renderForm)

    $('.ui.search.dropdown').change(function() {
      const searchOption= ($( ".ui.search.dropdown option:selected").text());
      console.log(searchOption)
      if (searchOption === "Books A-Z") {
          sortBookAsc()
      } else if (searchOption === "Books Z-A") {
          sortBookDesc()
      }
    })

function renderForm() {
        $('#book-form').html("<%= j render partial: 'books/form' %>")
}



function getCurrentBooks() {
    const id = $('#authors-books').attr('data-id')
    posting = $.getJSON('/authors/'+id+'/book_data', function(data) {
        const books = data["books"]
        console.log(books)
        const authorBooks = books.map(book => {
            return `<a href="/authors/${id}/books/${book.id}" class="book-link" >`+book.title+'</a><br/>'
        })
        authorBooks.forEach( book => {
            $("#authors-books").append(book)
        })
})
}



function submitForm(e) {
        e.preventDefault()
        const id = $('#author-id').attr('data-id')
        const values = $(this).serialize()
        posting = $.post('/books', values)
        .done(function(values) {
            console.log(vaules)
            getCurrentBooks()
            $('form').trigger('reset')
        })
        console.log('done')
}

function sortBookAsc() {
      const id = $('#authors-books').attr('data-id')
      posting = $.getJSON('/authors/'+id+'/book_data', function(data) {
          const books = data["books"]
      const sortedBooksAsc = books.sort(function(a,b){
          return a.title.localeCompare(b.title);
      })
      const authorBooks = sortedBooksAsc.map(book => {
          return `<a href="/books/${book.id}" class="book-link" >`+book.title+'</a><br/>'
      })
      $("#authors-books").empty()
        authorBooks.forEach( book => {
        $("#authors-books").append(book)
      })
    })
  }

  function sortBookDesc() {
        const id = $('#authors-books').attr('data-id')
        posting = $.getJSON('/authors/'+id+'/book_data', function(data) {
            const books = data["books"]
        const sortedBooksAsc = books.sort(function(a,b){
            return b.title.localeCompare(a.title);
        })
        const authorBooks = sortedBooksAsc.map(book => {
            return `<a href="/books/${book.id}" class="book-link" >`+book.title+'</a><br/>'
        })
        $("#authors-books").empty()
          authorBooks.forEach( book => {
          $("#authors-books").append(book)
        })
      })
    }



</script>
