<div class="container">
    <% if @author.first_name %>
        <h2>Welcome <%=@author.full_name %></h2>
    <% else %>
        <h2>Welcome <%=@author.email %></h2>
    <%end%>


<button id="add-book">Add A New Script</button>
<div id="book-form">
</div>

<h3>Your Script Inventory</h3>


<br>
<br>
<br>
<br>

<div id="authors-books" data-id=<%=@author.id%>>

</div>

<div id="new-books">
</div>

</div>

<script type="text/javascript">






$(function() {

    getCurrentBooks()


})
    $('#add-book').click(renderForm)



function renderForm() {
    if (!$('#book-form').is(':empty')) {
        $('#book-form').append("<%= j render partial: 'books/form' %>")
        $('#add-book').off('click', renderForm)
    } else {
        $('#add-book').one('click', renderForm)
    }
}



function getCurrentBooks() {
    const id = $('#authors-books').attr('data-id')
    posting = $.getJSON('/authors/'+id+'book_data', function(data) {
        const books = data["books"]
        const authorBooks = books.map(book => {
            return '<p>'+book.title+'</p>'
        })
        authorBooks.forEach( book => {
            $("#authors-books").append(book)
        })
})
}



function submitForm(e) {
        e.preventDefault()
        const id = $('#author-id').attr('data-id')
        const values = $(this).serialize()
        posting = $.post('/books', values)
        .done(function(values) {
            console.log(vaules)
            getCurrentBooks()
            $('form').trigger('reset')
        })
        console.log('done')
}








</script>






