<div class="container">
  <button id="btn" name="button">test button</button>
  <div class="welcome-member">

    <% if @author.first_name %>
        <h2>Welcome <%=@author.full_name %></h2>
    <% else %>
        <h2>Welcome <%=@author.email %></h2>
    <%end%>

  </div>

<div class="sort-book-options">

  <h3>Your Script Inventory</h3>

    <select id="book-sort-dropdown-menu" class="ui search dropdown"  >
      <option value="">Sort By</option>
      <option value="AZ">Books A-Z</option>
      <option value="ZA">Books Z-A</option>
      <option value="AZ">Recent Books</option>
    </select>

</div>

<br>
<br>

<div id="authors-books" data-id="<%=@author.id%>" class="ui grid">

</div>

<div id="new-books">
</div>
<br>
<br>
<br>
    <div id="add-book-form-box">
      <button id="add-book">Add A New Script</button>
      <div id="book-form"></div>
    </div>

</div>
<br>



<script type="text/javascript">



$(function() {





    $('#add-book').click(renderForm)

  })

function renderForm() {
        $('#book-form').html("<%= j render partial: 'books/form' %>")
}





function submitForm(e) {
        e.preventDefault()
        const id = $('#author-id').attr('data-id')
        const values = $(this).serialize()
        posting = $.post('/books', values)
        .done(function(values) {
            console.log(vaules)
            getCurrentBooks()
            $('form').trigger('reset')
        })
        console.log('done')
}




</script>
