
<h2>Welcome <%=@author.first_name%></h2>



<button id="add-book">Add A New Script</button>
<div id="book-form">
</div>

<div id="authors-books" data-id=<%=@author.id%>>

</div>

<div id="new-books"></div>


<script type="text/javascript">

$(function() {
    $('#add-book').on('click', renderForm)
    getCurrentBooks()

})




function renderForm() {
    $('#book-form').append(`<%= escape_javascript render partial: 'books/form' %>`)
            if (!$('#book-form').is(':empty')) {
            $('#add-book').off('click', renderForm)
        }
}



function getCurrentBooks() {
    const id = $('#authors-books').attr('data-id')
    posting = $.getJSON('/authors/'+id+'book_data', function(data) {
        const books = data["books"]
        const authorBooks = books.map(book => {
            return '<p>'+book.title+'</p>'
        })
        authorBooks.forEach( book => {
            $("#authors-books").append(book)
        })
})
}




</script>


