
<h2>Welcome <%=@author.first_name%></h2>



<button id="add-book">Add Book Script</button>
<div id="book-form">

</div>


<script type="text/javascript">
    $('#add-book').click(function() {
        $('#book-form').append(`<%= escape_javascript render partial: 'books/form' %>`)
    })
</script>
