<div class="container">
    <% if @author.first_name %>
        <h2>Welcome <%=@author.full_name %></h2>
    <% else %>
        <h2>Welcome <%=@author.email %></h2>
    <%end%>


<button id="add-book">Add A New Script</button>
<div id="book-form">
</div>

<h3>Your Script Inventory</h3>

<br>

<div id="authors-books" data-id=<%=@author.id%>>

</div>

<div id="new-books">
</div>

</div>

<script type="text/javascript">






$(function() {

    getCurrentBooks()


})
    $('#add-book').click(renderForm)


function renderForm() {
        $('#book-form').html("<%= j render partial: 'books/form' %>")
}



function getCurrentBooks() {
    const id = $('#authors-books').attr('data-id')
    posting = $.getJSON('/authors/'+id+'book_data', function(data) {
        const books = data["books"]
        const authorBooks = books.map(book => {
            return `<a href="/books/${book.id}" class="book-link" >`+book.title+'</a><br/>'
        })
        authorBooks.forEach( book => {
            $("#authors-books").append(book)
        })
})
}



function submitForm(e) {
        e.preventDefault()
        const id = $('#author-id').attr('data-id')
        const values = $(this).serialize()
        posting = $.post('/books', values)
        .done(function(values) {
            console.log(vaules)
            getCurrentBooks()
            $('form').trigger('reset')
        })
        console.log('done')
}








</script>






