<%= form_with(model: @interest)  do |f| %>
    <%= f.hidden_field :publishing_company_id, value: @publishing_company.id %>
    <%= f.hidden_field :publishing_company_id, value: book.id %>

    <%= f.submit "CONFIRM"%>
<%end%>
<h1>Hello</h1>



