
<div class="container">
<h1>Welcome <%= @publishing_company.username.capitalize %></h1>

<button id ="load-scripts-button">Browse Scripts</button>

<br>
<br>
<br>
<br>
<div class="1">

</div>

<div class="ui grid">
  <div id="all-book-scripts" class="ui cards">


  </div>
  <br>
</div>

</div>

<br>
<br>


<script type="text/javascript">


$('#load-scripts-button').click(loadScriptsData)
function loadScriptsData() {
    $('#all-book-scripts').append("<%= j render 'books/index' %>")
}

</script>
