
<div class="container">

  <div class="welcome-client" author_id="<%=@publishing_company.id%>">
    <h1>Welcome <%= @publishing_company.username.capitalize %></h1>
  </div>
<br>
<br>
  <div class="browse-all-books">
    <button id ="load-scripts-button" class="ui basic button">
      <i class="book icon"></i>
      Browse Scripts
    </button>
  </div>
<br>
<br>
<br>
<br>
<div class="1">

</div>
<div id="book-card" class="ui grid">
  <div id="all-book-scripts" class="ui cards">


  </div>
  <br>
</div>

</div>

<br>
<br>

<button id='interests-book-btn' class="small ui left floated button">
  Small
</button>

<script type="text/javascript">


$('#load-scripts-button').click(loadScriptsData)
function loadScriptsData() {
    $('#all-book-scripts').append("<%= j render 'books/index' %>")
}



$('#interests-book-btn').click(function() {
  const authorId = $('.welcome-client').attr('author_id')
  console.log(authorId)
  request = $.getJSON('/publishing_companies/'+authorId+'/interests')
  request.done(function(data) {
    console.log(data)
  })
})


</script>
