
<div class="container">

  <div class="welcome-client" author_id="<%=@publishing_company.id%>">
    <h1>Welcome <%= @publishing_company.username.capitalize %></h1>
  </div>
<br>
<br>
  <div class="browse-all-books">
    <button id ="load-scripts-button" class="ui basic button">
      <i class="book icon"></i>
      Browse Scripts
    </button>



    <button id='interests-book-btn' class="ui heart button">
      <i class="heart icon"></i>
      Interested Books
    </button>

  </div>
<br>
<br>
<br>
<br>
<div class="1">

</div>
<div id="book-card" class="ui grid">
  <div id="all-book-scripts" class="ui cards">


  </div>
  <br>
</div>

</div>

<br>
<br>

  <div id="book-card" class="ui grid">

    <div id="interested-books" class="ui cards">

    </div>

  </div>




<script type="text/javascript">


$('#load-scripts-button').click(loadScriptsData)

function loadScriptsData() {
    $('#interested-books').empty()
    $('#all-book-scripts').html("<%= j render 'books/index' %>")
}



</script>
