
<div class="container">

  <div class="welcome-client" data-id="<%=@publishing_company.id%>">
    <h1>Welcome <%= @publishing_company.username.capitalize %></h1>
  </div>
<br>
<br>
  <div class="browse-all-books">
    <button id ="load-scripts-button" class="ui basic button">
      <i class="book icon"></i>
      Browse Scripts
    </button>



    <button id='interests-book-btn' class="ui heart button">
      Interested Books
    </button>

  </div>
<br>
<br>
<br>
<br>
<div class="1">

</div>
<div id="book-card" class="ui grid">
  <div id="all-book-scripts" class="ui cards">


  </div>
  <br>
</div>

</div>

<br>
<br>

  <div id="book-card" class="ui grid">

    <div id="interested-books" class="ui cards">

    </div>

  </div>




<script type="text/javascript">


$('#load-scripts-button').click(loadScriptsData)

function loadScriptsData() {
    $('#interested-books').empty()
    $('#all-book-scripts').html("<%= j render 'books/index' %>")


      // $('#interests-book-btn').click(function() {
      //   const clientId = $('.welcome-client').attr('data-id')
      //   console.log(clientId)
      //   let title;
      //   request = $.getJSON('/publishing_companies/'+clientId+'/interests')
      //   request.done(function(data) {
      //     const books = data
      //     const interestedBooks = books.map(book => {
      //       return returnCard(book.book)
      //     })
      //     console.log(interestedBooks)
      //     $('#all-book-scripts').empty()
      //     $('#interested-books').append(interestedBooks)
      //   })
      // })


}
//
// function returnCard(data) {
//   const book = data
//   return `<div class="card">
//       <div class="content">
//         <div class="header">${book.title}</div>
//           <div class="description">
//           ${book.description}
//           </div>
//         </div>
//         <div class="ui bottom attached button">
//         <i class="mail outline icon"></i>
//         Message Author
//       </div>
//     </div>`
// }


</script>
