body {
  margin-top: 40px;
}


button {
    height: 30px;
    font-size: 14px;
}

#all-book-scripts, .ui.card, .book-title, .book-description, .book-author, #interested-books {
    margin-left: 20px;
}

.container {
    margin-top: 80px;
    margin-left: 240px;
}

body.welcome {
     background-image: url('george-peabody-library.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}


#vertical-menubar {
  width: 200px !important;
  text-align: center;
}


#edit-form1 {
  display: none;
  margin-left: 240px;
}

.sort-book-options, .book-edits  {
  display:none;
}

.field {
  text-align: left;
}

.book-img {
  height: 200p;
  width: 400px;
}

.interested-books-list, #edit-form {
  margin-left: 40px;
}

.welcome-client, .browse-all-books     {
  text-align: center;
  margin-left: -240px;
}


.welcome-member, #book-show-cards {
  margin-top: 80px;
}

#book-showcase {
  border: black solid 0.01px;
}

.welcome-member, .sort-book-options, #book-search-bar, #add-book-form-box, #book-show-cards {
  text-align: center;
  margin-left: 100px;
}

#book-sort-dropdown-menu, #book-search-bar {
  display: inline;
  margin: 0 auto;
}

#authors-books {
  text-align: center;
  margin-left: 240px;
}


#book-sort-dropdown-menu, #book-search-bar {
  height: 25px !important;
  font-size: 12px;
}

.four.wide.column {
    text-align: center;
 }

.heart.icon {
  color: #A60505;
}

.empty.heart.icon {
  color: grey;
}

.ui.bottom.attached.button {
  background-color: #B1A296;
}

button {
    background-color: #EDC7B7;
    border-color: rgba(0,0,0,0.3);
    color: black;
}

    a.btn.btn-blue:hover {
        background-color: #4F87A2;
        border-color: rgba(0,0,0,0.5);
    }

    a.btn.btn-blue:active {
        background-color: #3C677B;
        border-color: rgba(0,0,0,0.9);
    }


.registration-shared-links {
    padding-top: 10px;
}

.book-link {
    font-size: 16px;
    color: #231F20;
}

.book-img{
    height: 150px;
    width: 200px;
    padding-right: 10px;
}

.book-title {
  font-size: 20px;
}

#interests-book-btn, #load-scripts-button {
  background-color: #EDC7B7 !important;
}

.first {
    width: 100%;
    height: 1000px;
    background: #FEFFFF;
}

.second {
    width: 100%;
    height: 1000px;
    background: #E3E2DF;
}

.third {
    width: 100%;
    height: 1000px;
    background: #FEFFFF;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
