body {
    margin-top: 40px;
}

button {
    height: 30px;
    font-size: 14px;
}

#all-book-scripts, .ui.card, .book-title, .book-description, .book-author, #interested-books {
    margin-left: 20px;
    font-family: 'Libre Franklin', sans-serif;
}

.container {
    margin-top: 80px;
    margin-left: 40px;
}

body.welcome {
     background-image: url('george-peabody-library.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}

.welcome-message {
  font-family: 'Libre Franklin', sans-serif;
  color: #FEFFF1;
}

.book-img {
  height: 200p;
  width: 400px;
}

.book_nav_links, .interested-books-list {
  margin-left: 40px;
}

.welcome-client, .welcome-member, .browse-all-books, .sort-book-options, #book-search-bar  {
  text-align: center;
}

// #add-book-form-box {
//   float: right;
//   margin-right: 400px;
// }

#book-sort-dropdown-menu, #book-search-bar {
  height: 25px !important;
  font-size: 12px;
}

#add-book-form-box {
  text-align: center;
}

.four.wide.column {
    text-align: center;
 }


button {
    background-color: #699DB6;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
}

    a.btn.btn-blue:hover {
        background-color: #4F87A2;
        border-color: rgba(0,0,0,0.5);
    }

    a.btn.btn-blue:active {
        background-color: #3C677B;
        border-color: rgba(0,0,0,0.9);
    }


.registration-shared-links {
    padding-top: 10px;
}

.book-link {
    font-size: 16px;
    color: #231F20;
}
